.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.logo {
    object-fit: cover;
    aspect-ratio: 1;
    width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: azure;
    width: 40rem;
    height: 22rem;
    background-color: rgb(85, 22, 93);
    border-radius: 2rem;
    box-shadow: 0px 100px 200px -100px rgba(16, 16, 26, 0.25),
    0px 30px 60px -30px rgba(16, 16, 26, 0.25),
    0px -2px 6px 0px rgba(16, 16, 26, 0.25) inset;
}